<h2>Instructions</h2>
<p>Use WASD to move and the mosue to shoot</p>
<p>Pick cards to choose what to fight against</p>
<p>Every card becomes more challenging after each round</p>
<p>When you draw a boss card, it will be played automatically</p>
<a class="center button" id="back">Back</a>