@import url('https://fonts.googleapis.com/css?family=Faustina:600');

html, body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: white;
    background: black;
    font-family: 'Faustina', serif;
}

canvas.fullscreen {
    position: absolute;
    left: 0; right: 0;
    top: 0; bottom: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
	overflow: hidden;
}

.parent {
  position: relative;
}
div.overlay {
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}

.center {
    width: 100%;
    text-align: center;
    display: block;
    margin: auto;
}
.title {
    font-size: 8em;
}
a.button {
    font-size: 4em;
}
a.button:hover {
    color: gray;
}

h2.health {
    color: white;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    font-size: 5vmin;
    padding: 2vmin;
    padding-bottom: 8vmin;
    padding-right: 14vmin;
    margin: 0px;
}
h2.score {
    color: white;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 5vmin;
    padding: 2vmin;
    padding-bottom: 8vmin;
    padding-left: 14vmin;
    margin: 0px;
    text-align: right;
}

a.center {
    color: black;
    position: fixed;
    font-size: 1.6vmax;
    top: 56.2%;
}
a.sub:hover {
    font-size: 1.5vmax;
}

.leftui {
    background-image: url("../img/leftback.png");
    background-position: bottom right;
    background-size: cover;
    min-width: 20%;
}
.rightui {
    background-image: url("../img/rightback.png");
    background-position: bottom left;
    background-size: cover;
    min-width: 20%;
}

.finalscore {
    position: absolute;
    width: 100%;
    top: 42%;
    font-size: 2vmax;
    text-align: center;
    color: white;
}
.restart {
    position: absolute;
    width: 100%;
    top: 56%;
    font-size: 2vmax;
    text-align: center;
    color: white;
}
.restart:hover {
    font-size: 1.8vmax;
}